{% extends 'base.html.twig' %}

{% block title %}Bogoss Barber - Connexion
{% endblock %}

{% block body %}
	<body class="bg-gray-100">


		<section class="relative h-[500px] bg-cover bg-center" style="background-image:url('{{ asset('images/communaute.jpg') }}')">
			<div class="absolute inset-0 bg-black opacity-50"></div>
		</section>


		<div class="container mx-auto px-6 py-16">
			<h2 class="text-4xl font-semibold text-center text-black uppercase mb-6">Connexion</h2>


			<div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg">


				<form action="{{ path('app_login') }}" method="post">


					<div class="mb-6">
						<label for="_username" class="block text-lg font-medium text-gray-700">Votre email</label>
						<input type="text" name="_username" value="{{ lastpseudo }}" placeholder="Entrez votre email" class="form-input w-full px-4 py-3 mt-2 border rounded-lg border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#9f7150]" required>
					</div>


					<div class="mb-6">
						<label for="_password" class="block text-lg font-medium text-gray-700">Votre mot de passe</label>
						<input type="password" name="_password" placeholder="Entrez votre mot de passe" class="form-input w-full px-4 py-3 mt-2 border rounded-lg border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#9f7150]" required>
					</div>


					<div class="flex justify-center">
						<button type="submit" class="w-full py-3 text-white bg-[#9f7150] hover:bg-[#8e5e41] rounded-xl font-semibold focus:outline-none transition duration-200">
							Connexion
						</button>
					</div>
				</form>


				<a href="{{ path('app_register') }}" class="block text-center text-black mt-6 text-lg hover:underline">
					Vous n'avez pas de compte ?
					<span class="text-red-500">Inscrivez-vous</span>
				</a>


				<a href="{{ path('app_main') }}" class="block text-center mt-2 text-lg text-black hover:underline">
					Retour à la page d'accueil
				</a>
			</div>
		</div>


	</body>
{% endblock %}
