{% extends 'base.html.twig' %}

{% block title %}Bogoss Barber - Sous Catégories
{% endblock %}

{% block body %}

	<div class="text-white font-semibold flex flex-wrap gap-[3%] text-2xl sm:text-xl py-7 pb flex justify-center border bg-black pt-7 pb-7">

		<a id="hover" href="{{path('app_main')}}">Accueil</a>
		<a id="hover" href="{{path('app_produits')}}">Tous nos produits</a>
		{% if app.user %}
			{% if "ROLE_Admin" in app.user.roles %}
				<a id="hover" href="{{path('admin')}}">Admin</a>
			{% endif %}
			<a id="hover" href="">Profil</a>
			<a id="hover" href="{{path('app_logout')}}">Deconnexion</a>
		{% else %}
			<a id="hover" href="{{path('app_login')}}">Connexion</a>
		{% endif %}
		<a id="hover" href="">Panier</a>
		<a id="hover" href="">Contact</a>

	</div>

	<div class="pt-4">
		<div class="border border-solid border-3 border-[#9f7150] bg-black opacity-[70%] w-[50%] py-4 ml-[23%]">
			<h1 class="text-white text-5xl text-center font-semibold ">{{Subcategories.nom}}</h1>
		</div>
	</div>

	<section class="flex flex-wrap gap-3 container mx-auto pt-[3%] pb-[3%]">
		{% for produits in produit %}
			<div class="w-1/4 bg-[#D5CABC] border border-2 border-gray-300 hover:border-[#9f7150] rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
				<a href="{{path('app_produit', {id: produits.id})}}">
					<div class="zoom-image"><img class="w-full h-[200px]" src="{{asset(produits.image)}}" alt=""/></div>
				</a>
				<div class="p-5">
					<a href="#">
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">{{produits.nom}}</h5>
					</a>
					<p class="mb-3 font-normal text-gray-100 dark:text-gray-400">{{produits.description}}</p>
					<div class="flex flex-row justify-between">
						<a href="{{path('app_produit', {id: produits.id})}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-[#0B9C9F] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
							{{produits.prix}}€
							<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
							</svg>
						</a>
						{# <img src="{{asset('images/iconlike.png')}}" alt="favoris"> #}
					</div>
				</div>
			</div>
		{% endfor %}
	</section>


{% endblock %}
